---
import { Picture } from 'astro:assets';
import img from '~/assets/about_me_landscape.svg';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout title="About" description="About this site." currentNav="About">
	<Picture
		class="lg:float-right lg:ml-4 lg:w-2/5"
		src={img}
		formats={['avif', 'webp']}
		alt="Mountains"
	/>
	<h2>Who are you? </h2>
	<p>Starting with the big questions huh? My name is Lukas Schaffer and i am currently a Bachelors-Student in Psychology at the University of Graz. I learned Software-Engineering and have already worked a few successfull jobs using it. But i am not going to regurgitate my LinkedIn onto you, nobody wants to read that more than once. Suffice to say, i am a dude who is trying his hand at writing a blog.</p>
	<h2>Why a blog? </h2>
	<p>Seeing as there are more white dudes with podcasts than grains of sand on a beach, this was the only real option of spewing my unwanted opinion onto the internet without having to use TikTok or any of these services. No but for real, i wanted to try writing about things and this seemed like a fun idea where i could connect multiple hobbies.</p>
	<h3>Serious Disclaimer</h3>
	<p>This is a <b>personal</b> site. The opinions expressed here represent my own and not those of my employer(s).</p>
	<h3>Content Information</h3>
	<p>All SVG Images unless stated otherwise are sourced from <a href="https://www.vecteezy.com">Vecteezy</a>.</p>
	<p>Except for the Dog, that's from the original Theme template but its very cute so I'm keeping it.</p>
</MarkdownLayout>
