---
import { Picture } from 'astro:assets';
import img from '~/assets/undraw_dog_c7i6.svg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>Welcome to my Blog! I am Lukas👋</h1>
			<p>I do software and i tend to ramble. Sometimes it's helpful. Sometimes it's not. See for yourself.</p>
			<p>
				This is a blog built with <a href="https://astro.build">Astro</a> that is using an awesome template by the very talented <a href="https://github.com/ladit/astro-blog-zozo">Ladit</a>.
			</p>
		</div>
	</div>
</MarkdownLayout>
